<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'ebook:list'%}"> List Books</a>
    <h1>Ebook for {{ object.title}}</h1>
        <hr>
        <p><strong> Title : </strong> {{ object.title}}</p>
        <p><strong> Author : </strong> {{ object.author}}</p>
        <p><strong> description : </strong> {{ object.description}}</p>
        <p><strong> Publication Date: </strong> {{ object.publication_date}}</p>
    <hr>
</body>
</html>